*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1C1C1C;

}
.main-header{
    padding: 20px;
    background: #6943FF;
    color: #fff;
    width: 520px;
    height: 230px;
}
h1{
    font-family: 'Inter' , sans-serif;
    font-size: 30px;
    font-weight: bold;

    text-align: center;
}
.covert-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    font-family: 'Inter' , sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    background-color: #6943FF;
    width: 100px;
    height: 70px;
    border: 2px solid #B295FF;
    border-radius: 5px;
}
input:focus{
    outline: none;

}
input[type="text"] {
  text-align: center;
    
}
button{
    margin: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}
.body-container{
    background: #F4F4F4;
    width: 520px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
}
.conversion-card{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 450px;
    height: 100px;
    text-align: center;
    justify-content: center;
    
}
.conversion-card h4{
    color: #5A537B;
    font-family: 'Inter' , sans-serif;
    font-size: 20px;
    font-weight:500;
}
.conversion-card p{
    padding-top: 10px;
    color: #353535;
    font-family: 'Inter' , sans-serif;

}

